.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: flex-end;
}

.btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: var(--complimentary3);
    color: var(--bgDark);
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--complimentary3);
    color: var(--white);
}

.flex-1 {
    flex: 1;
}

.btn-secondary {
    background: transparent;
    color: var(--white);
    border-color: var(--complimentary3);
}

.btn-secondary:hover {
    background: var(--complimentary3);
    color: var(--bgDark);
}